<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Painel de Controle</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="container mt-5">
        <div class="card">
            <div class=" bg-success card-header text-center">
                <strong>Olá, o que deseja fazer hoje?</strong>
            </div>

            <div class="card-body text-center">
                Seu blog esta com 1000 acessos na rota /
            </div>
        </div>
    </div>
</body>
</html>